/*
    Author : Md. Rakib Rahman
    Address: Chittagong, Bangladesh
    Website: www.mdrakibrahman.com
    Email  : rakibrahman.bd@gmail.com
    Cell   : +8801717-028694 
    Version: UiBrush. v1.0
*/

/*Golbal CSS*/
*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/*Banner section CSS*/
.banner{
	background: url(../images/top_bg.jpg)no-repeat center top;
	background-size: cover;
    background-attachment: fixed;
	height: 758px;
}
.logo {
    color: #39c9da;
    font-weight: 700;
    font-size: 30px;
    padding: 8px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.navbar-default {
    background: rgba(0,0,0,0.4);
    border: 0 solid;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 600;
}
.navbar-left {
    text-align: center;
    border: none;
    margin-left: 50px;
}
.navbar-left .btn-success {
    border-radius: 10px;
    height: 31px;
    background: lightseagreen;
    padding: 0 8px;
    border: none;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #39c9da;
    font-weight: 600;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: currentColor;
}
form {
    padding-top: 229px;
    border-radius: 5px;
}
.form-inner {
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 15px;
}
.form-inner .form-control{
    font-size: 18px;
}
.form-inner p {
    color: #fff;
    padding-top: 15px;
}
.form-inner a {
    color: cornflowerblue;
}
.subscribe {
    border-radius: 15px;
    height: 30px;
    background: #eaeaea;
}
.fa-user-o {
    color: #ff733e;
    border-radius: 45px;
    margin-bottom: 20px;
}
/*About Section CSS*/
.about-section{
	padding: 50px 0;
}
.about {
    text-align: center;
    padding: 30px 0 50px 0;
}
.about h3 {
    font-weight: 700;
    font-size: 20px;
    color: #504f50;
}
.about p {
    font-size: 14px;
    color: #a8a8a8;
}
.about-details h4 {
    font-weight: 700;
    font-size: 15px;
    color: #504f50;
    text-transform: uppercase;
    padding-top: 10px;
}
.about-details p{
	color: #a8a8a8;
	padding-bottom: 15px;
}
.about-details button{
	background: #39c9da;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 35px;
    border: 1px solid #fff;
}
.about-hr {
    padding: 6px 0 25px;
}
.car{
	padding-top: 57px;
    margin: 0 auto;
    height: 100%;
}
/*Portfolio CSS*/
.portfolio-section{
	background: #f4f4f4;
	padding-bottom: 50px;
}
.portfolio{
	position: relative;
}
.prt-img{
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.portfolio button {
    background: transparent;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 1px;
}
.portfolio:hover .prt-img {
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}
.portfolio:hover button {
  opacity: 1;
  background: transparent;
  color: #fff;
}
.read-text p{
    background: #fff;
    padding: 10px;
    font-weight: 700;
}
.title-right {
    font-weight: 300;
    float: right;
}
/*Servie CSS*/
.service-section{
	padding-bottom: 50px;
}
.service {
    border: 1px solid #e2e2e2;
    padding: 35px 16px 20px;
    width: 272px;
    margin: 0 10px;
}
.service:hover {
    background: #39c9da;
    color: #fff;
    transition: 0.3s;
    transform: scale(1, 1.03);
}
.service:hover i{
	color: #fff;
}
.fa-camera{
	color: #39c9da;
}
.fa-paint-brush{
	color: #39c9da;
}
.fa-scissors{
	color: #39c9da;
}
.fa-html5{
	color: #39c9da;
}
.service h4{
	font-weight: 600;
}
.service hr{
	border: 1px solid #c2c2c2;
	width: 30%;
}
.service button {
    color: #fff;
    background: #4b4a4b;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 22px;
    border: 1px solid gray;
    border-radius: 1px;
}
/*Contact CSS*/
.contact-section {
    background: #f4f4f4;
    padding-bottom: 50px;
}
.contact-left h4 {
    font-weight: 700;
    font-size: 14px;
}
.contact-left h5 {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 8px;
}
.contact-section p{
	font-size: 14px;
	color: #b3b3b3;
	padding-bottom: 20px;
}
.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 12px;
    border: 1px solid #c9c9c9;
    border-radius: 0;
}
textarea{
    height: 130px;
}
.contact-right button {
    background: #39c9da;
    padding: 10px 55px;
    color: #fff;
    font-weight: 700;
    float: right;
}
/*Footer Section*/
.footer-section {
    background: #39c9da;
    padding: 5px 0;
    color: #fff;
}

/*MEDIA QUERY*/
@media (min-width: 992px) and (max-width: 1200px){
    .about-details button {
        float: left;
    }
    .car {
        padding-top: 99px;
        margin: 0 auto;
        height: 100%;
    }
    .menu ul li {
        padding-right: 7px;
    }
    .service {
        width: 49%;
        margin: 5px 4px 0 3px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .about-details button {
        display: block;
        margin: 0 auto;
    }
    .logo p{
        text-align: center;
    }
    .service {
        width: 49%;
        margin: 5px 0px 0 3px;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .banner {
        background-attachment: fixed;
        height: 615px;
    }
    .about-details button {
        display: block;
        margin: 0 auto;
    }
    .navbar-left {
        width: auto;
        text-align: center;
        border: none;
        margin: 0;
    }
    .text-center{
        padding-bottom: 20px;
    }
    .menu ul{
        text-align: center;
    }
    form {
        padding-top: 210px;
        border-radius: 5px;
    }
    .logo p {
        margin: 30px 0px 10px;
        text-align: center;
    }
    .service {
        width: 99%;
        margin: 5px 5px 0 3px;
    }
}

@media screen and (max-width: 480px){
    .banner {
        background-attachment: fixed;
        height: 568px;
    }
    .about-details button {
        display: block;
        margin: 10px auto;
    }
    .navbar-left {
        width: auto;
        text-align: center;
        border: none;
        margin: 0;
    }
    form {
        padding-top: 160px;
        border-radius: 5px;
    }
    .text-center{
        padding-bottom: 20px;
    }
    .logo p {
        margin: 15px 0 10px;
        text-align: center;
    }
    .about-section{
        padding: 0;
    }
    .about-details{
        padding-bottom: 15px;
    }
    .portfolio-section {
        padding-bottom: 10px;
    }
    .service {
        width: 97%;
        margin: 5px 5px 0 6px;
    }
    .service-section {
        padding-bottom: 15px;
    }
    .contact-section p {
        font-size: 15px;
        padding-bottom: 15px;
    }
    .about {
        padding: 15px 0 15px 0;
    }
    .contact-left{
        padding-bottom: 15px;
    }
}